html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit}
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.wrapper {
  max-width: 1400px;
  width: 58%;
  margin: 0 auto;
}
header {
  background-color: #222;
  height: 100vh;
}
nav {
  color: #FFF;
  display: flex;
  justify-content: space-between;
}
.profilePic {
  background-image: url(./assets/transparent_square.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 100vh;
  width: 1000px;
}
img {
  display: block;
  max-height: 100vh;
}
main {
  display: flex;
}
nav {
  position: absolute;
  height: 100px;
  width: 100%;
  z-index: 99;
}
a {
  color: #FFF;
  text-decoration: none;
}
nav .logo {
  position: relative;
}
h1 {
  font-size: 6.4rem;
  text-transform: uppercase;
  width: 600px;
}
p {
  color: #FFF;
  margin: -20px 0 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.9rem;
  line-height: 3.2rem;
}
.firstHeading {
  align-self: center;
  font-family: 'Racing Sans One', cursive;
  margin-left: 2.7rem;
  max-width: 750px;
}
.greetingStart {
  background-color: #FFF; 
  padding: 0 0.8rem;
  letter-spacing: 4px;
  line-height: 30px;
}
.greetingEnd {
  color: #B4DA55;
  letter-spacing: 3px;
  line-height: 80px;
}
.flexRow {
  display: flex;
}
.flexColumn {
  flex-direction: column;
}
.circles {
  display: flex;
}
.circle1,
.circle2,
.circle3,
.circle4,
.circle5 {
  background-color: #B4DA55;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}
.circle1{
  position: absolute;
  top: 29%;
  left: 47%;
}
.circle2{
  position: absolute;
  top: 15%;
  left: 69%;
}
.circle3{
  position: absolute;
  top: 39%;
  left: 85%;
}
.circle4{
  position: absolute;
  top: 87%;
  left: 56%;
}
.circle5{
  position: absolute;
  top: 81%;
  left: 71%;
}
.socials {
  align-self: flex-end;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  position: absolute;
  right: 0;
}
.socials a {
  color: #FFF;
  margin-right: 20px;
}
/* Second Section */
.title {
  min-height: 100vh;
  background-color: #333;
}
.title .flexRow {
  justify-content: space-between;
}
.title .wrapper {
  display: flex;
  justify-content: center;
  min-height: inherit;
}
.title .flexRow div h2 {
  color: #B4DA55;
  font-size: 48px;
  margin: 20px 0;
}
.title .flexRow div p {
  font-size: 18px;
}
.skills ul {
  display: flex;
  padding: 20px 0;
  flex-wrap: wrap;
  justify-content: center;
}
.skills li {
  font-size: 150px;
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 250px;
}
h3 {
  margin: 0;
  font-size: 35px;
  text-align: center;
  color: #B4DA55;
  letter-spacing: 1px;
  padding-bottom: 15px;
}
.backgroundTwo {
  background-color: #222;
}
.title div .siteSection {
  flex-wrap: wrap;
  padding: 50px 0;
  justify-content: space-evenly;
}
/* Skills Icons Hover States */
.devicon-html5-plain:hover {
  color: #e54d26;
  transform: scale(1.1);
}
.devicon-css3-plain:hover {
 color: #3d8fc6;
 transform: scale(1.1);
}
.devicon-javascript-plain:hover {
  color: #f0db4f;
  transform: scale(1.1);
 }
 .devicon-react-original:hover {
  color: #61dafb;
  transform: scale(1.1);
 }
 .devicon-firebase-plain:hover {
  color: #f58220;
  transform: scale(1.1);
 }
 .devicon-sass-original:hover {
  color: #c69;
  transform: scale(1.1);
 }
 .devicon-git-plain:hover {
  color: #f34f29;
  transform: scale(1.1);
 }
 .devicon-github-original:hover {
  color: #FFF;
  transform: scale(1.1);
 }
 .fa-cogs:hover {
  color: #f58220;
  transform: scale(1.1);
 }
 .fa-universal-access:hover {
  color: #0077c8;
  transform: scale(1.1);
 }
 .fa-pencil-ruler:hover {
  color: yellow;
  transform: scale(1.1);
 }
 /* Portfolio section */
.sites {
  height: 225px;
  max-width: 400px;
  border-radius: 50px 50px 0 0;
}
.site1:hover,
.site2:hover,
.site3:hover {
  border: 5px solid #B4DA55
}
.site1 {
  background-image: url('./assets/BangforBuck.png');
  background-size: cover;
  border: 5px solid #000
}
.site2 {
  background-image: url('./assets/sad-lamport-cffda4.netlify.app_.png');
  background-size: cover;
  background-position: center;
  border: 5px solid #000;
}
.site3 {
  background-image: url('./assets/confident-perlman-5594c2.netlify.app_.png');
  background-size: cover;
  background-position: center;
  border: 5px solid #000;
}
.siteSection li {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 50px;
}
.siteSection li h3 {
  color: #B4DA55;
  padding-top: 20px;
  margin-bottom: 20px;
}
.siteSection li p {
  text-align: center;
  padding: 0 20px 20px 20px;
}
.card {
  background-color: #111;
  border-radius: 50px;
}
.linkClick {
  text-decoration: underline;
  text-align: end;
}
form {
  padding-top: 5rem;
}
form div {
  display: flex;
}
.leftForm {
  justify-content: space-between;
}
.leftForm input {
  border: transparent;
  border-bottom: 1px solid #888;
  font-size: 1.8rem;
  height: 40px;
  width: 350px;
  background-color: transparent;
  margin-bottom: 30px;
}
.leftForm input:focus {
  border: transparent;
  outline: none;
  border-bottom: 1px solid #FFF;
  transition: border-bottom 1s;
}
.leftForm input:nth-of-type(3) {
  margin-bottom: 0;
}
textarea {
  border: transparent;
  border-bottom: 1px solid #888;
  background: transparent;
  margin-right: 10rem;
  font-size: 1.8rem;
  resize: none;
}
textarea:focus {
  border: transparent;
  outline: none;
  border-bottom: 1px solid #FFF;
  transition: border-bottom 1s;
}
form button {
  color: #B4DA55;
  background-color: transparent;
  border: 2px solid #B4DA55;
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding: 1.3rem 5rem;
  border-radius: 2.5rem;
  margin-top: 7.5rem;
}
form button:focus,
form button:hover {
  cursor: pointer;
  outline: none;
  background-color: #B4DA55;
  color: #000;
  transition: background-color 1s, color 1s;
}
.imageOneLinks,
.imageTwoLinks,
.imageThreeLinks {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}
.links p{
  margin: 0;
  padding: 0 !important;
}
.links p a:hover {
  text-decoration: underline;
}